[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
flake8 = "*"
black = {extras = ["jupyter"], version = "*"}
mypy = "*"
ssh-config = "*"
detect-secrets = "*"
pre-commit = "*"
isort = "*"
flake8-tabs = "*"
nbqa = "*"

[requires]
python_version = "3.8"
