[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
jupyter = "*"
ipython = {extras = ["all"], version = "*"}
jupyter-server = "*"
ipykernel = "*"
pdoc3 = "*"
networkx = "*"
data-structures-and-algorithms-python = {editable = true, path = "."}

[dev-packages]
flake8 = "*"
black = {extras = ["jupyter"], version = "*"}
mypy = "*"
ssh-config = "*"
detect-secrets = "*"
pre-commit = "*"
isort = "*"
flake8-tabs = "*"
nbqa = "*"

[requires]
python_version = "3.8"
